﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master/PopUpMaster.Master"
    CodeBehind="Proposal.aspx.vb" Inherits="CEA.Proposal" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="PageTitle" runat="server">
Proposal
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
    <div class="row">
        <div class="large-10 medium-10 column">
        &nbsp;
        </div>
        <div class="large-2 medium-2 column">
           <br />
                  
                    <asp:Button ID="Button1" runat="server" Text="close" CssClass="backBTN rightbtn right" />
               
        </div>
    </div>
    <div class="row">
    <div class="large-2 medium-2 column">
    &nbsp;
    </div>
        <div class="large-4 medium-4 column">
            <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
            <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        </div>
         <div class="large-4 medium-4 column">
            <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
            <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
        </div>
        <div class="large-2 medium-2 column">
    &nbsp;
    </div>
        </div>
          <div class="row">
           <div class="large-2 medium-2 column">
    &nbsp;
    </div>
        <div class="large-4 medium-4 column">
            <asp:Label ID="Label3" runat="server" Text="Label"></asp:Label>
            <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
        </div>
         <div class="large-4 medium-4 column">
            <asp:Label ID="Label4" runat="server" Text="Label"></asp:Label>
            <asp:TextBox ID="TextBox4" runat="server"></asp:TextBox>
        </div>
         <div class="large-2 medium-2 column">
    &nbsp;
    </div>
        </div>
          <div class="row">
           <div class="large-2 medium-2 column">
    &nbsp;
    </div>
        <div class="large-4 medium-4 column">
            <asp:Label ID="Label5" runat="server" Text="Label" ></asp:Label>
            <asp:TextBox ID="TextBox5" runat="server" TextMode="MultiLine"  ></asp:TextBox>
        </div>
         <div class="large-4 medium-4 column">
            <asp:Label ID="Label6" runat="server" Text="Label"></asp:Label>
            <asp:FileUpload ID="FileUpload1" runat="server" Width="65%" />
        </div>
        <div class="large-2 medium-2 column">
    &nbsp;
    </div>
        </div>
          
           <div class="row">
           <div class="large-2 medium-2 column">
    &nbsp;
    </div>
        <div class="large-4 medium-4 column">
            <asp:CheckBox ID="CheckBox1" runat="server" />
        </div>
        <div class="large-4 medium-4 column">
            <asp:CheckBox ID="CheckBox2" runat="server" />
        </div>
         <div class="large-2 medium-2 column">
    &nbsp;
    </div>
        </div>
        <div class="row">
         <div class="large-2 medium-2 column">
    &nbsp;
    </div>
           <div class="large-8 medium-8 column">
           GridView
           </div>
            <div class="large-2 medium-2 column">
    &nbsp;
    </div>
           </div> 
</asp:Content>
