﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master/PopUpMaster.Master" CodeBehind="Supplier_Quotation_View.aspx.vb" Inherits="CEA.Supplier_Quotation_View" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="PageTitle" runat="server">
Supplier Quotation View
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
   <div class="row">
        <div class="large-10 medium-10 column">
            &nbsp;
        </div>
        <div class="large-2 medium-2 column">
            <br />
            <asp:Button ID="Button1" runat="server" Text="close" CssClass="backBTN rightbtn right" />
        </div>
    </div>
    <div class="row">
    <div class="large-2 medium-2 column">
    &nbsp;
    </div>
        <div class="large-4 medium-4 column">
        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
        <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
        </div>
        <div class="large-4 medium-4 column">
        <asp:Label ID="Label3" runat="server" Text="Label"></asp:Label>
        <asp:Label ID="Label4" runat="server" Text="Label"></asp:Label>
        </div>
        <div class="large-2 medium-2 column">
    &nbsp;
    </div>
    </div>
     <div class="row">
    <div class="large-2 medium-2 column">
    &nbsp;
    </div>
        <div class="large-4 medium-4 column">
        <asp:Label ID="Label5" runat="server" Text="Label"></asp:Label>
        <asp:Label ID="Label6" runat="server" Text="Label"></asp:Label>
        </div>
        <div class="large-4 medium-4 column">
        <asp:Label ID="Label7" runat="server" Text="Label"></asp:Label>
        <asp:Label ID="Label8" runat="server" Text="Label"></asp:Label>
        </div>
        <div class="large-2 medium-2 column">
    &nbsp;
    </div>
    </div>
     <div class="row">
    <div class="large-2 medium-2 column">
    &nbsp;
    </div>
        <div class="large-4 medium-4 column">
        <asp:Label ID="Label9" runat="server" Text="Label"></asp:Label>
        <asp:Label ID="Label10" runat="server" Text="Label"></asp:Label>
        </div>
        <div class="large-4 medium-4 column">
        <asp:Label ID="Label11" runat="server" Text="Label"></asp:Label>
        <asp:Label ID="Label12" runat="server" Text="Label"></asp:Label>
        </div>
        <div class="large-2 medium-2 column">
    &nbsp;
    </div>
    </div>
     <div class="row">
    <div class="large-2 medium-2 column">
    &nbsp;
    </div>
        <div class="large-4 medium-4 column">
        <asp:Label ID="Label13" runat="server" Text="Label"></asp:Label>
        <asp:Label ID="Label14" runat="server" Text="Label"></asp:Label>
        </div>
        <div class="large-4 medium-4 column">
            <asp:CheckBox ID="CheckBox1" runat="server" />
        </div>
        <div class="large-2 medium-2 column">
    &nbsp;
    </div>
    </div>
     <div class="row">
    <div class="large-2 medium-2 column">
    &nbsp;
    </div>
        <div class="large-4 medium-4 column">
        <asp:Label ID="Label15" runat="server" Text="Label"></asp:Label>
        <asp:Label ID="Label16" runat="server" Text="Label"></asp:Label>
        </div>
        <div class="large-4 medium-4 column">
            <asp:CheckBox ID="CheckBox2" runat="server" />
        </div>
        <div class="large-2 medium-2 column">
    &nbsp;
    </div>
    </div>
     <div class="row">
         <div class="large-2 medium-2 column">
    &nbsp;
    </div>
           <div class="large-8 medium-8 column">
           GridView
           </div>
            <div class="large-2 medium-2 column">
    &nbsp;
    </div>
           </div>
           <div class="large-12 medium-12 column" style="left:40%">
            <div class="outerDivBtn">
                <div class="BTNdiv">
                <asp:Button ID="btnSave" runat="server" Text="Button" CssClass="BTNSave rightbtn" />
                       
                        
                             </div>
            </div>
        </div>
</asp:Content>
