﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.Master" CodeBehind="UserManagement.aspx.vb" Inherits="CEA.UserManagment" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="PageTitle" runat="server">
User Management
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
<div class="row">
                <div class="large-12 columns">
                    <asp:Panel ID="Panel1" runat="server" CssClass="panel">
                     <label>
                        Your Grid View Comes here</label>
                    </asp:Panel>
                   
                    
                </div>
                 
            </div>
            <div class="row">
                <div class="large-12 medium-12 columns">
                  <label>
                        User Name</label>
                    <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
                      <label>
                        Password</label>
                    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                      <label>
                       Category</label>
                    <asp:DropDownList ID="DropDownList1" runat="server">
                    </asp:DropDownList>
                </div>
                <div class="large-12 medium-12 columns">
                    <asp:Button ID="Button1" runat="server" Text="Add" CssClass="small button" />
                  <asp:Button ID="Button2" runat="server" Text="Delete " CssClass="small button alert" />
                  <asp:Button ID="Button3" runat="server" Text="Update " CssClass="small button success" />
                  <asp:Button ID="Button4" runat="server" Text="Close " CssClass="small button secondary" />
                </div>
                </div>
</asp:Content>
