﻿.GridStyle
{
    
}

.AlternatingRowStyle
{
    background-color: #e7edf5;
    font-size:12px;
    padding:7px !important;
}

.RowStyle td
{
    background-color:#FDFDFD;
    font-size:12px;
/*    padding:7px !important;*/
}

.HeaderStyle
{
    background-color: #e7edf5;
    color: 333333;
    font-weight: bold;
}
.HeaderStyle a , .HeaderStyle th
{
    color: 333333;
    font-weight: normal;
    font-size:12px;
    padding:7px !important;
}

.SelectedRowStyle
{
    background-color: #006fba !important;
  
}
.AlternatingRowStyle td , .RowStyle td
{
/*      padding: 3px !important;*/
  
}
.SelectedRowStyle td , .SelectedRowStyle td a
{
   color:#fff;   
}
.FooterStyle
{
    background-color: #a33;
    color: White;
    text-align: right;
}

.PagerRowStyle
{
    background-color: #f9f9f9 !important;
    text-align: right;
}
.PagerRowStyle table
{
    margin:0;
}
.PagerRowStyle td
{
    line-height: normal;
padding: 0px;
}
.PagerRowStyle td table
{
    background:transparent;
    border:none;
}
.PagerRowStyle td a , .PagerRowStyle td span
{
    padding:2px 7px;
    margin:2px;
    display:block;
    background-color:#E7EDF5;
    color:#333;
    -moz-box-shadow: 0px 1px 1px -7px #666;
-webkit-box-shadow: 0px 1px 1px -7px #666;
box-shadow: 0px 1px 1px -7px #666;
}
.PagerRowStyle td span
{
    background-color:#ccc;
    color:#333;
}
.TreeViewStyle
{
    background-color:#fff;
    border:1px solid #4d7496;
    min-height:300px;
    padding:10px;
    position:relative;
    overflow:auto;
    
}
.TreeViewStyle table , .TreeViewStyle td
{
    line-height:normal;
    padding:0;
    margin:0;
    vertical-align:top;
   
    
}

.TreeViewStyle td a:hover
{
    color:#fff;
    background-color:#4d7496;
    z-index:9999;
   
    
    
}
.SelectedNode
{
    background-color:#4d7496;
    color:#fff;
    padding: 0 10px;
    -moz-box-shadow: 0px 0px 5px #9dd0fd;
-webkit-box-shadow: 0px 0px 5px #9dd0fd;
box-shadow: 0px 0px 5px #9dd0fd;

}
.SelectedNode a:hover
{
     color:#fff;
}
