﻿
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100;
  font-size:200% !important;
  src: local('Noto Sans'), local('NotoSans'), url(http://themes.googleusercontent.com/static/fonts/notosans/v4/LeFlHvsZjXu2c3ZRgBq9nD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
html,
body {
  font-size: 100%; 

  }
  
  
        


body {
  background-color:#fff;
  background-image:url('../Images/MainBG1.png');
 /* background-image:url('../Images/mainbg2.jpg');*/
  /*background-repeat:repeat-x;*/
  background-position:10px center;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  font-size:14px;
  cursor: default; }
  .panel {
  border-style: solid;
  border-width: 1px;
  border-color: #4d7496;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f9f9f9; 
  /*background: #fff;*/}

.BTNView , .BTNnext , .BTNSave , .BTNDelete , .BTNCancel , .backBTN , .BTNSearch , .BTNUpdate , .BTNAdd , .BTNEdit , .BTNOpen , .BTNclose , .BTNAttach , .BTNCreate , .BTNcreateEx , .BTNHome , .BTNList , .BTNReport , .BTNExport , .BTNImport , .BTNClient
{
   display:block;
     margin-top: 0;
margin-left: 0px;
    height:23px;
    padding:0 10px;
    margin-bottom:0;
   font-size:11px;
   transition:All 0.241s ease-in;
-webkit-transition:All 0.241s ease-in;
-moz-transition:All 0.241s ease-in;
-o-transition:All 0.241s ease-in; 
border:1px solid #788b93;
color:#475258;

float:left;
padding-top:3px;
text-align:center !important;
cursor:pointer;
text-align:left;
-moz-box-shadow:inset 0px 0px 2px #ffffff;
-webkit-box-shadow:inset 0px 0px 2px #ffffff;
box-shadow:inset 0px 0px 2px #ffffff;


padding-bottom:5px;
background-image:url(../Images/btnBG.jpg);


}
.BTNView:hover  , .BTNnext:hover  , .BTNSave:hover  , .BTNDelete:hover  , .BTNCancel:hover  , .backBTN:hover  , .BTNSearch:hover  , .BTNUpdate:hover  , .BTNAdd:hover , .BTNEdit:hover , .BTNOpen:hover , .BTNclose:hover , .BTNAttach:hover , .BTNCreate:hover , .BTNcreateEx:hover , .BTNHome:hover , .BTNList:hover , .BTNReport:hover , .BTNExport:hover , .BTNImport:hover , .BTNClient:hover
{
  
 background-image:none;
 background-color:#fff;
 
}
.clear
{
    clear:both;
    width:100%;
}
a {
text-decoration: none;
line-height: inherit;
}

@media only screen and (min-width: 64.063em)
.large-5 {
width: 41.66667%;
}
@media only screen and (min-width: 64.063em)
.column, .columns {
position: relative;
padding-left: 0.9375em;
padding-right: 0.9375em;
float: left;
text-align: left;
}
@media only screen and (min-width: 40.063em)
.column, .columns {
position: relative;
padding-left: 0.9375em;
padding-right: 0.9375em;
float: left;
}
@media only screen
.column, .columns {
position: relative;
padding-left: 0.9375em;
padding-right: 0.9375em;
float: left;
}
.column, .columns {
padding-left: 0.9375em;
padding-right: 0.9375em;
width: 100%;
float: left;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
margin: 0;
padding: 0;
}
.row:before, .row:after {
content: " ";
display: table;
}
*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.row:after {
clear: both;
}
.row:before, .row:after {
content: " ";
display: table;
}
*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
element.style {
width: 70%;
}
select:hover {
background: #f3f3f3 url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9…iPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") no-repeat;
background-position-x: 97%;
background-position-y: center;
border-color: #999999;
}
.left {
float: left !important;
}
input[type="file"], input[type="checkbox"], input[type="radio"], select {
margin: 0 0 1rem 0;
}
select {
  height: 23px;
}
select {
-webkit-appearance: none !important;
background: #fafafa url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9…iPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") no-repeat;
background-position-x: 97%;
background-position-y: center;
border: 1px solid #cccccc;
padding: 0 0.5rem;
font-size: 0.875rem;
-webkit-border-radius: 0;
border-radius: 0;
}
