﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="PopUpMaster.master.vb"
    Inherits="CEA.PopUpMaster" %>

<!doctype html>
<html class="no-js" lang="en">
<head id="Head1" runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link href="../CSS/Style.css" rel="stylesheet" type="text/css" />
    <link href="../CSS/jquery.sidr.light.css" rel="stylesheet" type="text/css" />
    <script src="../js/vendor/modernizr.js"></script>
    <script src="../JS/jquery.js"></script>
    <script src="../JS/jquery.sidr.min.js"></script>
    <style>
        #mobile-header
        {
            display: none;
        }
        @media only screen and (max-width: 767px)
        {
            #mobile-header
            {
                display: block;
            }
        }
        .style1
        {
            width: 200px;
        }
    </style>
    <%--<script type="text/javascript">

        function Showopoup() {

            //            var url = "ClientType.aspx";
            //            var left = (screen.width / 2) - (500 / 2);
            //            var top = (screen.height / 2) - (300 / 2);
            //            params = 'width=500';
            //            params += ', height=300';
            //            params += ', top=' + top;
            //            params += ', left=' + left;
            //            params += ', fullscreen=no';
            //            //params += ', menubar=no, status=no, scrollbars=no,titlebar=no,sizeable=no, toolbar=no,directories=no';
            //            params += ', menubar=no, status=no, scrollbars=yes,titlebar=no, toolbar=no,directories=no';
            //            var win = window.open('', 'Client Type', params);
            //            win.location.href = url;
            //            win = null;
            //            return false;

            var url = "ClientType.aspx";
            var left = (screen.width / 2) - (500 / 2);
            var top = (screen.height / 2) - (300 / 2);
            params = 'width=500';
            params += ', height=300';
            params += ', top=' + top;
            params += ', left=' + left;
            params += ', fullscreen=no';
            params += ', menubar=no, status=no, scrollbars=yes,titlebar=no, toolbar=no,directories=no';
            var win = window.open('', 'Suppliers', params);
            win.location.href = url;
            win = null;
            return false;

        }

        
    </script>--%>
    <link id="MenuStyleSheet" rel="stylesheet" type="text/css" runat="server" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="Form1" runat="server">
    <section class="top-bar-section">
    
    
    <div class="large-12">
       <header class="fix-height">
    
   <div class="large-2 medium-2 column logoSystem"> 
   
   <img src="../Images/SystemLogo.png" class="logo" />
  
   
   </div>
   <div class="large-6 medium-6 column"> 
   <h3 style="text-align:center;">Cost Estimation System</h3></div>
    
    <div class="large-2 medium-2 column">
      <%--  <asp:Label ID="Welcome" runat="server" CssClass="Welcome" Text="Welcome Ahmed"></asp:Label>
        <asp:Label ID="loginAs" runat="server" CssClass="loginAs" Text="You are login as Admin"></asp:Label>
        <asp:Label ID="lblUserRole" runat="server" CssClass="loginAs" Text=""></asp:Label>
        <asp:LinkButton ID="LinkButton1" runat="server" CssClass="Language" >العربية</asp:LinkButton>--%>
    </div>
    
    <%--<asp:LinkButton ID="LinkButton1" runat="server" CssClass="Language" >العربية</asp:LinkButton></div>--%>

    <%--<div class="large-1 medium-1 column"><img src="../Images/User.png" class="UserImage"  /></div>--%>
    <div class="large-2 medium-2 column">
        <%--<asp:Button ID="Logout" runat="server" Text="Logout" CssClass="medium alert button logout"></asp:Button>--%>
        <%--<asp:LinkButton ID="LinkButton1" runat="server" CssClass="Language" Font-Bold = "true" Font-Size = "Smaller" >العربية</asp:LinkButton>--%>
    </div>

   <%-- <div class="large-2 medium-2 column">
        <asp:LinkButton ID="LinkButton1" runat="server" CssClass="Language" >العربية</asp:LinkButton>
    </div>--%>

    <%--<div class="large-10 medium-10 column">
        <h3 style="text-align:left;"> <asp:Label ID="lblHeader" runat="server" Text=""></asp:Label></h3>
    </div>--%>

    </div>

    </section>
    <section class="content">
  
                <div class="row">
        <div class="large-12 column">
            <div class="panel">
            <div class="large-12 PageTitle">
            <asp:ContentPlaceHolder ID="PageTitle" runat="server">
    </asp:ContentPlaceHolder>

  
    
    </div>
                    <asp:ContentPlaceHolder ID="MainContent" runat="server" />
                     </div>
        </div>
    </div>
               <%-- </td>
            </tr>
        </table>--%>
        
       <%-- <div class="large-12 column">
            <div class="panel">
                <asp:ContentPlaceHolder ID="MainContent" runat="server" />
            </div>
        </div>--%>

    <%-- <div class="large-12 column">
        <div class="footer">
            © 2014. All Rights Reserved.
        </div>
    </div>--%></section>
    <asp:HiddenField ID="hfMenuLanguage" runat="server" />
    <asp:HiddenField ID="hfHideMenu" runat="server" />
    </form>
</body>
</html>
